*.log

output/_JointReaction_ReactionLoads*.sto
output/activity_*.sto
output/force_*.sto
output/jointReaction_*.sto

output/activity_*.png
output/KJCF_*.png

input/Gait2392_simbody
input/Geometry
input/Rajagopal_walk