*.log
output/_JointReaction_ReactionLoads+ext.sto
output/_JointReaction_ReactionLoads-ext.sto
output/activity_*.sto
output/force_*.sto
output/jointReaction_*.sto
output/activity*.png
output/KJCF*.png

input/Gait2392_simbody
input/Geometry
input/Rajagopal_walk